.noLocationDataFound {
  text-align: center;
  font-size: 20px;
  color: #444;
  float: left;
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 10px;
}
@media screen and (max-width: 400px) {
  .noLocationDataFound {
    text-align: left;
    font-size: 17px;
    color: #444;
    float: left;
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 10px;
  }
}
.ipl-progress-indicator.available {
  opacity: 0;
  }
  .ipl-progress-indicator {
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 1;
  pointer-events: none;
  -webkit-transition: opacity cubic-bezier(.4, 0, .2, 1) 436ms;
  -moz-transition: opacity cubic-bezier(.4, 0, .2, 1) 436ms;
  transition: opacity cubic-bezier(.4, 0, .2, 1) 436ms;
  z-index: 9999;
  }
  .insp-logo-frame {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-animation: fadein 436ms;
  -moz-animation: fadein 436ms;
  animation: fadein 436ms;
  height: 98%;
  }
  .insp-logo-frame-img{
  width: 82px;
  height: 82px;
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  border-radius: 50%;
  }
  .ipl-progress-indicator-head {
  background-color: #c6dafc;
  height: 4px;
  overflow: hidden;
  position: relative;
  }
  .ipl-progress-indicator .first-indicator, .ipl-progress-indicator .second-indicator {
  background-color: #4CAF50;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: rotate(120deg);
-moz-transform: rotate(120deg);
-o-transform: rotate(120deg);
transform: rotate(120deg);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
  }
  .ipl-progress-indicator .first-indicator {
  -webkit-animation: first-indicator 2000ms linear infinite;
  -moz-animation: first-indicator 2000ms linear infinite;
  animation: first-indicator 2000ms linear infinite;
  }
  .ipl-progress-indicator .second-indicator {
  -webkit-animation: second-indicator 2000ms linear infinite;
  -moz-animation: second-indicator 2000ms linear infinite;
  animation: second-indicator 2000ms linear infinite;
  }
  .ipl-progress-indicator .insp-logo {
  animation: App-logo-spin infinite 20s linear;
  border-radius: 50%;
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  }
  @keyframes App-logo-spin {
  from {
  transform: rotate(0deg);
  }
  to {
  transform: rotate(120deg);
  }
  }
  @-webkit-keyframes fadein {
  from {
  opacity: 0;
  }
  to {
  opacity: 69;
  }
  ;
  }
  @-moz-keyframes fadein {
  from {
  opacity: 0;
  }
  to {
  opacity: 69;
  }
  ;
  }
  @keyframes fadein {
  from {
  opacity: 0;
  }
  to {
  opacity: 69;
  }
  ;
  }
  @keyframes first-indicator {
  0% {
  transform: translate(0%) scaleX(0);
  }
  25% {
  transform: translate(0%) scaleX(0.5);
  }
  50% {
  transform: translate(25%) scaleX(0.75);
  }
  75% {
  transform: translate(100%) scaleX(0);
  }
  100% {
  transform: translate(100%) scaleX(0);
  }
  ;
  }
  @keyframes second-indicator {
    0% {
    transform: translate(0%) scaleX(0);
    }
    25% {
    transform: translate(0%) scaleX(0.5);
    }
    50% {
    transform: translate(25%) scaleX(0.75);
    }
    75% {
    transform: translate(100%) scaleX(0);
    }
    100% {
    transform: translate(100%) scaleX(0);
    }
  ;
  }
  @keyframes spin {
from {transform:rotate(0deg);}
to {transform:rotate(360deg);}
}
@keyframes fadeIn {
0% {
    opacity: .25;
}
50% {
    opacity: .5;
}
75% {
    opacity: .75;
}
100% {
    opacity: .5;
}
}
#outer-wheel {
animation: spin 4s infinite linear;
}
#inner-wheel {
animation: fadeIn 2s infinite linear;
}
.footer {
position: static;
left: 0;
bottom: 0;
width: 100%;
color: #444;
text-align: center;
font-family: 'Open Sans Condensed', sans-serif;
font-size: 17px;
}
.panelanchortext {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  color:#fff;
  text-decoration: none;
}
.panelanchortext:hover {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  color:#fff;
  text-decoration: none;
}

.navbar {
    color: #ccc;
}
.navbar-light .navbar-toggler {
  color: #fff;
}
.navbarS-nav>li>a:hover {
    color:#FFF !important;
    }
.paper {
  flex: 0 0 auto;
  margin: 0;
  box-sizing: border-box;
  padding: 8px;
}
.c15 {
  max-width: 320px;
  padding: 16px;
  overflow: hidden;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 380px) {
  .c15 {
    max-width: 320px;
    padding: 16px;
    overflow: hidden;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    margin-top: 50px;
  }
}
@media screen and (min-width: 400px) {
  .c15 {
    max-width: 320px;
    padding: 16px;
    overflow: hidden;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    margin-top: 50px;
  }
}
