<!--about.tmpl-->
<!--Embed the header.tmpl template at this location-->
{{ template "header.tmpl" .}}
<div class="viewarea">
<div class="aboutContent">
Brands Nigeria is a Sentiment Analysis, Opinions Mining and Recommendation Engine. 
It's also a Marketing Cloud for Nigerian Brands.<br /> Were a technology company 
that uses location intelligence to build meaningful consumer experiences and business solutions. Our location intelligence technology helps brands to locate, message and assess their own consumer and competitors's personal finance, strenghts and spending patterns which will help in making  purchasing and business centric decisions.<br />For further enquiries, please send a mail to customercare@brandsnigeria.com.ng 
for customer related issues and enquiries@brandsnigeria.com.ng for enquiries.
</div>
</div>
<!--Embed the footer.tmpl template at this location-->
{{ template "footer.tmpl" .}}