<div class='cardSentiment'>
  <div class='cardTitleInnerExtendedChildren'>
      <div style='width: 20%;position: absolute;float: left;'>
            <span><i class='material-icons' style='font-size:20px; left: 1px;'>{{ .PRODUCTTREND }}</i></span>
            <div class='textBelowRatingTrends'>
              {{ .PRODUCTTRENDDIRECTION }}
            </div>
      </div>
  </div> <!-- End of cardTitleInnerExtendedChildren -->
</div> <!-- End of Card Sentiment -->