{{ if .is_logged_in }}
{{ template "enter-comment.tmpl" . }}
{{ end }}
{{ range .comments }}
		<div class="aboutProductComments">
			<div class="individualUserAvatarAndName btn btn-success">
				<div class="" style="display:inline; float:left;">
					<i class="fa fa-user-circle"></i>
					<div>{{.AUTHOR}}</div>
				</div>
				<div class="dateX">
					<meta content="{{ visualDate .DATEPUBLISHED }}" />
					<span>{{ visualDate .DATEPUBLISHED }}</span>
				</div>
			</div>
			{{ template "product-page-user-comments.tmpl" . }}
		</div>
{{ end }}
