{{ if .is_logged_in }}
{{ template "enter-comment.tmpl" . }}
{{ end }}
{{ range .comments }}
		<div class="aboutProductComments" itemprop="review" itemscope itemtype="http://schema.org/Review">
			<div class="individualUserAvatarAndName btn btn-success">
				<div class="" style="display:inline; float:left;">
					<i class="fa fa-user-circle"></i>
					<div itemprop="author" class="author">{{.AUTHOR}}</div>
				</div>
				<div class="dateX">
					<meta itemprop="datePublished" content="{{ visualDate .DATEPUBLISHED }}" />
					<span itemprop="datePublished">{{ visualDate .DATEPUBLISHED }}</span>
				</div>
			</div>
			{{ template "product-page-user-comments.tmpl" . }}
		</div>
{{ end }}