<div class="aboutProductComments" itemprop="review" itemscope itemtype="http://schema.org/Review">
<div class="individualUserAvatarAndName">
<div class="avatar">
<img src="https://asknigeria.com.ng/assets/brands/images/blank_boy.png" width="30" height="30" />
</div>
<div class="UserAndComment">
<div>
<span class="individualComment" itemprop="author"><b>Anonymous</b></span>
</div>
<span class="individualComment" itemprop="name">{{ .COMMENT }}</span>
<div class="smallRatingDiv" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
<div>
{{ template "product-rating.html . "}}
</div>
<div>
<meta itemprop="worstRating" content="{{ .RATE }}" />
<span itemprop="ratingValue">{{ .RATE }}</span>/<span itemprop="bestRating">5</span>stars
</div></div></div>
<div class="DateX">
<meta itemprop="datePublished" content="{{ .DATEPUBLISHED }}" />
<span itemprop="datePublished">{{ .DATEPUBLISHED }}</span>
</div></div></div>