<div class="aboutCompetitor">
	{{ template "product-recommendation.tmpl" . }}
	{{ template "product-review-likes.tmpl" . }}
	{{ template "product-review-dislikes.tmpl" . }}
	{{ template "product-review-rating.tmpl" . }}
	{{ template "product-competitors.tmpl" . }}
	{{ template "product-area-acceptance-map.tmpl" . }}
	{{ template "product-area-rejection-map.tmpl" . }}
</div>