<!--create-article.tmpl-->
{{ template "header.tmpl" .}}
<div class="viewarea">
<h1>Create Article</h1>
<div class="panel panel-default col-sm-12">
<div class="panel-body">
{{ if .ErrorTitle}}
<p class="bg-danger">
{{.ErrorTitle}}: {{.ErrorMessage}}
</p>
{{end}}
<form class="form" action="/blog/create" method="POST">
<input type="hidden" name="imageloc" value="" id="imageloc" />
<div class="form-group">
<label for="title">Title</label>
<input type="text" class="form-control" id="title" name="title" placeholder="Title">
</div>
<div class="form-group">
<label for="content">Content Body</label>
<textarea name="content" class="form-control" rows="10" id="content" placeholder="Article Content"></textarea>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<!-- Image Loc -->
<div class="aboutProductComments">
<div class="individualUserAvatarAndName">
<div class="" style="display:inline; float:left;">
<form class="form" action="/uploadimage" method="POST" enctype="multipart/form-data">
<div class="form-group">
<label for="imagehomepage">Blog Image</label>
<input type="file" class="form-control-file border" id="imageblog" name="imageblog" 
	placeholder="imageblog">
</div>
<button type="button" id="storeblogimg" class="btn btn-info">Save Image</button>
</form>
</div>
</div>
</div>
<!-- Image Loc -->
</div>
</div>
{{ template "footer.tmpl" .}}