<!--submission-successful.tmpl-->
{{ template "productpage-header.tmpl" .}}
<div class="viewarea">
<strong>The Product was successfully updated. Click to view.</strong><br />
<h2>
	<a href="/s/product/{{.product.PRODUCTGUID}}">{{.product.PRODUCTNAME}}</a>
</h2>
</div>
{{ template "footer.tmpl" .}}