<div class=''> <!-- Start of Favorites Enclosing Div -->
  <div class='cardTitleInnerExtendedChildren likebtn'>
    <div>
      <span><i class='material-icons' style='font-size:25px;'>favorite</i></span>
      <div class='textBelowRatingSentiment'>Like</div>
    </div>
  </div> <!-- End of likebtn Enclosing Div -->
  <div class='cardTitleInnerExtendedChildren sharebtn'>
    <div>
      <span><i class='material-icons' style='font-size:25px;'>share</i></span>
      <div class='textBelowRatingSentiment'>Share</div>
    </div>
  </div> <!-- End of sharebtn Enclosing Div -->
  <div class='cardTitleInnerExtendedChildren commentbtn'>
    <div>
      <span><i class='fa fa-comments-o' style='font-size:25px;'></i></span>
      <div class='peoplebtnText'>{{ .PRODUCTUSERCOMMENTS }}</div>
    </div>
  </div> <!-- End of commentbtn Enclosing Div -->
  <div class='cardTitleInnerExtendedChildren locationbtn'>
    <div>
      <span><i class='material-icons' style='font-size:25px;'>location_on</i></span>
      <div class='locationbtnText'>{{ .PRODUCTLOCATIONCOUNT }} </div>
    </div>
  </div> <!-- End of locationbtn Enclosing Div -->
</div> <!-- End of Favorites Enclosing Div -->