<!--feedback.tmpl-->
<!--Embed the header.tmpl template at this location-->
{{ template "header.tmpl" .}}
<div class="viewarea">
<div class="aboutContent" style="text-align:justify; font-family:'Open Sans Condensed', sans-serif; font-size:20px;">
For further enquiries, please send a mail to customercare@brandsnigeria.com.ng for customer related issues and enquiries@brandsnigeria.com.ng for enquiries.
</div>
</div>
<!--Embed the footer.tmpl template at this location-->
{{ template "footer.tmpl" .}}