<!--footer.tmpl-->
<br />
<div class="footer">
      <hr />
<footer id="footer">
	<div class="copyright">
		  Copyright © <script>document.write(new Date().getFullYear())</script><br />BrandsNigeria is a subsidiary of Ask - Tech Solutions. | Nigeria's first Big Data and Analytics Company.
	</div>
</footer>
    </div>
</body>
</html>