<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
  <div class="viewarea">
  <!--Loop over the payload variable, which is the list of articles-->
  {{ if .is_logged_in }}
    {{range .payload }}
      <!--Create the link for the article based on its ID-->
      <a href="/article/view/{{.ID}}">
        <!--Display the title of the article -->
        <h2>{{.Title}}</h2>
      </a>
      <!--Display the content of the article-->
      <p>{{.Content}}</p>
    {{end}}
  {{end}}
  
  <!--Loop over the payload variable of unauthenticated users, which is the list of articles-->
  {{ if not .is_logged_in }}
    {{range .payload }}
      <!--Create the link for the article based on its ID--> 
      <a href="/article/views/{{.ID}}">
        <!--Display the title of the article -->
        <h2>{{.Title}}</h2>
      </a>
      <!--Display the content of the article-->
      <p>{{.Content}}</p>
    {{end}}
  {{end}}
  </div>
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}