<!--menu.tmpl-->

          <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light justify-content-between navouter">
            <a class="navbar-brand" href="/">
              <div class="goback" title="Brands Nigeria">
                      <button type="button" class="btn btn-success navbar-btn">
                          BN
                      </button>
              </div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav navlinks">
                {{ if .is_logged_in }}
                <a class="nav-item nav-link active" href="/">Browse <span class="sr-only">(current)</span></a>
                {{ else }}
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                {{ end }}
                {{ if .is_logged_in }}
                <a class="nav-item nav-link" href="/u/s/about">About</a>
                <a class="nav-item nav-link" href="/u/s/feedback">Feedback</a>
                <a class="nav-item nav-link" href="/u/s/ratedProducts">My Rated Products</a>
                <a class="nav-item nav-link" href="/s/privacy-policy">Privacy</a>
                <a class="nav-item nav-link" href="/s/terms">Terms</a>
                <a class="nav-item nav-link" href="/u/s/blog">Blog</a>
                {{end}}
                {{ if not .is_logged_in }}
                <a class="nav-item nav-link" href="/u/about">About</a>
                <a class="nav-item nav-link" href="/u/feedback">Feedback</a>
                <a class="nav-item nav-link" href="/privacy-policy">Privacy</a>
                <a class="nav-item nav-link" href="/terms">Terms</a>
                <a class="nav-item nav-link" href="/u/blog">Blog</a>
                {{end}}
                
                {{ if .superadmin }}
                <a class="nav-item nav-link" href="/blog/create">
                  Create Article
                </a>
                <a class="nav-item nav-link" href="/new/product">
                  Create Product
                </a>
                <a class="nav-item nav-link" href="/new/productlist">
                  List of Products
                </a>
                <a class="nav-item nav-link" href="/new/deletedProductlist">
                  Deleted Products
                </a>
                {{end}}
                {{ if not .is_logged_in }}
                <a class="nav-item nav-link" href="/u/register">
                  Register
                </a>
                {{end}}
                {{ if not .is_logged_in }}
                <a class="nav-item nav-link" href="/u/login">
                  Login
                </a>
                {{end}}
                {{ if .is_logged_in }}
                <a class="nav-item nav-link" href="/u/logout">
                  Logout
                </a>
                {{end}}
              </div>
            </div>
          </nav>
          </header>