{{ range .data }}
<div class="cardTitleInnerExtendedChildrenProductPage">
	{{ $dir := sentimentMood .PRODUCTSENTIMENTMOOD }}
	{{ $title := sentimentMoodT .PRODUCTSENTIMENTMOOD}}
	<div class="{{$dir}}" title={{$title}}>
		<span>
			<i class="material-icons md-32" style="">{{ .PRODUCTSENTIMENT }}</i>
		</span>
		<div class="textBelowRatingTrends">
			{{ .PRODUCTSENTIMENTMOOD }}
		</div>
	</div>
</div>
{{ end }}