{{ range .data }}
<div class="cardTitleInnerExtendedChildrenProductPage">
	{{ $dir := trendDir .PRODUCTTRENDDIRECTION }}
	{{ $title := trendDirT .PRODUCTTRENDDIRECTION }}
	<div class="{{$dir}}" title={{$title}}>
		<span>
			<i class="material-icons md-32" style="">{{ .PRODUCTTREND }}</i>
		</span>
		<div class="textBelowRatingTrends">
			{{ .PRODUCTTRENDDIRECTION }}
		</div>
	</div>
</div>
{{ end }}