{{ range .products }}
<div class="container">
<div class='card bg-light mb-3 smallCard'> <!-- Card Block Begins -->
    <div class='card-header' style='background: #fff; color:#444'> <!-- Card header -->
      <span itemprop='name' class="productname">
        {{ .PRODUCTNAME }}
      </span>
      <div itemprop='category' class='productpagebTagCategory' itemscope itemtype='http://schema.org/text'>
        {{ uppercase .PRODUCTCATEGORY }}
      </div>
    </div> <!-- End of card header -->
    <div> <!-- Product Image -->
      <img itemprop='image' 
              class='card-img-top productImage' 
              src="https://asknigeria.com.ng/assets/brands/images/default-product.png" 
              title={{.PRODUCTNAME}} 
              alt={{.PRODUCTNAME}} />
    </div> <!-- End of Product Image -->
    
    <div class='card-body cardContent'> <!-- Card Content Starts -->
  
      {{ template "viewbutton-auth.tmpl" . }}
      
    </div> <!-- Card Content Ends -->
</div> <!-- Card Block Ends -->
</div>
{{ end }}