<div class="middleRowStarAndIcons"> <!-- middleRowStarAndIcons Start -->
	{{ template "product-page-rating.tmpl" . }}
	<div class="otherIconsOnProductPage"> <!-- otherIconsOnProductPage Start -->
		<div class="cardTitleChildExtendProductPage"> <!-- cardTitleChildExtendProductPage Start -->
		
			{{ template "product-page-upvote.tmpl" . }}
			
			{{ template "product-page-downvote.tmpl" . }}
			
			{{ template "product-page-trends.tmpl" . }}
			
			{{ template "product-page-sentiment.tmpl" . }}
			
			{{ template "product-page-share.tmpl" . }}
		
		</div> <!-- cardTitleChildExtendProductPage Ends  -->
	</div> <!-- otherIconsOnProductPage Ends -->
</div> <!-- middleRowStarAndIcons Ends -->