{{ range .data }}
<div class="card">
	<div class="card-header bg-default" 
		toggle="collapse" data-target="#productsreviewdislikes" 
		aria-expanded="true" 
		aria-controls="productsreviewdislikes">
		<a data-toggle="collapse" class="panelanchortext" href="#productsreviewdislikes">
			<i class="fa fa-caret-right"></i> {{ .PRODUCTNAME }}, {{ .PRODUCTFIRSTCOMPETITION }} and {{ .PRODUCTSECONDCOMPETITION }} Dislikes Chart
		</a>
	</div>
	<div class="card-block collapse show" 
		data="{{ .PRODUCTNAME }},{{ .PRODUCTFIRSTCOMPETITION }},{{ .PRODUCTSECONDCOMPETITION }}"
		id="productsreviewdislikes">
	</div>
</div>
{{ end }}