{{ range .data }}
<div class="card">
	<div class="card-header bg-default" 
		toggle="collapse" 
		data-target="#productsrecommendation" 
		aria-expanded="true" aria-controls="productsrecommendation">
		<a data-toggle="collapse" class="panelanchortext" href="#productsrecommendation">
			<i class="fa fa-caret-right"></i> 
			Recommendation - Best Product After Reviews using Rates and Likes
		</a>
	</div>
	<div class="card-block collapse show" 
		data="{{ .PRODUCTNAME }},{{ .PRODUCTFIRSTCOMPETITION }},{{ .PRODUCTSECONDCOMPETITION }}" 
		id="productsrecommendation">
	</div>
</div>
{{ end }}