{{ range .data }}
<div class="ratingDiv"
	itemprop="aggregateRating"
	itemscope itemtype="http://schema.org/AggregateRating">
	<span class="ratingVal" itemprop="ratingValue">
	  {{ roundUp .PRODUCTRATING}} / 5 stars
	</span><br />
	<span class="numofCustReviews" itemprop="reviewCount">
		{{ .PRODUCTUSERCOMMENTS }}
	</span>
	<span class="numofCustReviews" style="margin-left:14px;">
		Customer reviews
	</span>
	
</div>
{{ end }}
