{{ range .data }}
<div class="ratingDiv">
	<span class="ratingVal" >
	  {{ roundUp .PRODUCTRATING}} / 5 stars
	</span><br />
	<span class="numofCustReviews" >
		{{ .PRODUCTUSERCOMMENTS }}
	</span>
	<span class="numofCustReviews" style="margin-left:14px;">
		Customer reviews
	</span>

</div>
{{ end }}
