{{ range .data }}
<div class="cardTitleInnerExtendedChildrenProductPage">
	<div class="btn btn-danger btn-lg" 
			data-toggle="modal" data-target="#downVoteProduct" 
			onClick="downRateProduct('{{ .PRODUCTGUID }}','{{ .PRODUCTID }}')">
		<span class="fa fa-thumbs-down fa-2x"></span>
		<div className="textBelowRatingsProductPage">{{ .PRODUCTDISLIKES }}</div>
	</div>
</div>
{{ end }}