{{ range .data }}
<div class="">
<img class="img-fluid img-thumbnail" 
			itemprop="image" src="{{ .PRODUCTIMAGE2 }}" 
			alt="{{ removeNewLines .PRODUCTNAME }}" 
			title="{{ removeNewLines .PRODUCTNAME }}" />
</div>
{{ end }}