<div class="container-fluid">
  <div class="containerXZ">
      <div class='row'>
            <div class='card-columns'>
              {{ range .products }}
                <div class='col' itemscope itemtype='http://schema.org/Product'>
                    {{ template "card.tmpl" . }}
                </div>
              {{ end }}
            </div>
      </div>
  </div>
</div>