{{ range .data }}
<div class="productdescriptionProductPage">
	<font class="ingredientsFontsTitleProductPage">It is made with:-</font>
	<div class="ingredientsQ">
		{{ .PRODUCTINGREDIENTS }}
	</div>
</div>
{{ end }}