{{ range .data }}
<div class="cardTitleInnerExtendedChildrenProductPage">
	<div class="btn btn-success btn-lg btnShare">
		<span>
			<i class="material-icons md-36" style="">
				share
			</i>
		</span>
		<div class="textBelowRatingSentiment">
			Share
		</div>
	</div>
</div>
{{ end }}