<div class="offers" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
	<link itemprop="url" href="https://brandsnigeria.com.ng/product/{{ .PRODUCTGUID }}" />
	<meta itemprop="availability" content="https://schema.org/InStock" />
	<meta itemprop="priceCurrency" content="NGN" />
	<meta itemprop="itemCondition" content="https://schema.org/NewCondition" />
	<meta itemprop="price" content="{{ .PRODUCTPRICE }}" />
	<meta itemprop="priceValidUntil" content="2020-11-05" />
	<div itemprop="seller" itemtype="http://schema.org/Organization" itemscope>
		<meta itemprop="name" content="{{ .PRODUCTMANUFACTURER }}" />
	</div>
</div>