<div>
		<div class="UserAndComment">
			<span class="individualComment">{{ .USERCOMMENTS }}</span>
			<div class="smallRatingDiv">
				<div>
					{{ template "product-page-comment-rates.tmpl" . }}
				</div>
				<div>
					<meta content="{{ .PRODUCTRATING }}" />
					<span>{{ .PRODUCTRATING }}</span>/<span itemprop="bestRating">5</span>stars
				</div>
			</div>
			{{ template "product-page-review-rating.tmpl" . }}
		</div>
</div>
