<!--register.tmpl-->
<!--Embed the header.tmpl template at this location-->
{{ template "header.tmpl" .}}
<script type="text/javascript">
$(document).ready( function () {
    $('#plist').DataTable();
} );
</script>
<div class="viewarea">
	<div class="aboutContent">
		<table id="plist" class="display responsive no-wrap"  style="width:100%">
	    		<thead>
	        <tr>
	            <th>ID</th>
	            <th>Product Title</th>
				<th>Product GUID</th>
				<th>Category</th>
				<th>Manufacturer</th>
				<th>Actions</th>
	        </tr>
	    		</thead>
		    <tbody>
		        {{ range .data}}
				<tr>
		            <td>{{.PRODUCTID}}</td>
		            <td>{{.PRODUCTTITLE}}</td>
					<td><a href="/s/product/{{.PRODUCTGUID}}">{{.PRODUCTGUID}}</a></td>
					<td>{{.PRODUCTCATEGORY}}</td>
					<td>{{.PRODUCTMANUFACTURER}}</td>
					<td>
						<a href="/edit/{{.PRODUCTGUID}}" title="Edit {{.PRODUCTTITLE}}">
							<i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
						</a>
						<a href="javascript:void(0)" 
							onClick="deleteProduct('{{.PRODUCTGUID}}','{{.PRODUCTID}}')"
							id="{{.PRODUCTGUID}}_{{.PRODUCTID}}" 
							title="Delete {{.PRODUCTTITLE}}">
							<i class="fa fa-trash fa-2x" aria-hidden="true"></i>
						</a>
						
					</td>
		        </tr>
				{{ end }}
		    </tbody>
		</table>
	</div>
</div>
<!--Embed the footer.tmpl template at this location-->
{{ template "footer.tmpl" .}}