{{ range .data }}
<div class="cardTitleInnerExtendedChildrenProductPage">
	<a href="#" 
		class="btn btn-success btn-lg" 
		data-toggle="modal" data-target="#upvoteProduct" 
		onClick="upvoteProduct('{{ .PRODUCTGUID }}','{{ .PRODUCTID }}')">
		<span class="fa fa-thumbs-up fa-2x"></span>
		<div class="textBelowRatingsProductPage">{{ .PRODUCTLIKES }}</div>
	</a>
</div>
{{ end }}