<div class='afterRatingDiv'>


{{ template "price.tmpl" . }}

{{ template "thumbsup.tmpl" . }}

{{ template "cardsentiment.tmpl" . }}

{{ template "sentiment.tmpl" . }}


</div> <!-- End the afterRatingDivs Div -->