{{ range .richSnippetComments }}
{
  "@type": "Review",
  "itemReviewed": {
    "@type": "Thing",
    "name": {{ .productname }}
  },
  "author": {
    "@type": "Person",
    "name": {{ .author }}
  },
  "datePublished": {{.datePublished }},
  "description": {{.description}},
  "name": {{.name}},
  "reviewRating": {
    "@type": "Rating",
    "bestRating": "5",
    "ratingValue": {{ .rating }},
    "worstRating": {{ .worstrating }},
  },
  "publisher": {
    "@type": "Organization",
    "name": "Brands Nigeria"
  }
}
{{end}}