{{ $arrLength := .numberofcomments }}
{{ $commentsArr := .comments }}
{{ range $index, $value := $commentsArr }}
    {{ if equal $index $arrLength }}
      {
        "@type": "Review",
        "itemReviewed": {
          "@type": "Thing",
          "name": {{ removeNewLines .PRODUCTNAME }}
        },
        "author": {
          "@type": "Person",
          "name": {{ .AUTHOR }}
        },
        "datePublished": {{ .DATEPUBLISHED }},
        "description": {{ .USERCOMMENTS }},
        "name": {{ .AUTHOR }},
        "reviewRating": {
          "@type": "Rating",
          "bestRating": "5",
          "ratingValue": {{ .PRODUCTRATING }},
          "worstRating": {{ .PRODUCTRATING }}
        },
        "publisher": {
          "@type": "Organization",
          "name": "Brands Nigeria"
        }
      }
    {{ else }}
      {
        "@type": "Review",
        "itemReviewed": {
          "@type": "Thing",
          "name": {{ removeNewLines .PRODUCTNAME }}
        },
        "author": {
          "@type": "Person",
          "name": {{ .AUTHOR }}
        },
        "datePublished": {{ .DATEPUBLISHED }},
        "description": {{ .USERCOMMENTS }},
        "name": {{ .AUTHOR }},
        "reviewRating": {
          "@type": "Rating",
          "bestRating": "5",
          "ratingValue": {{ .PRODUCTRATING }},
          "worstRating": {{ .PRODUCTRATING }}
        },
        "publisher": {
          "@type": "Organization",
          "name": "Brands Nigeria"
        }
      },
    {{ end }}
{{end}}
