<script type="application/ld+json">
    {
      "@context": "http://schema.org", 
      "@type": "Product",
      "name": {{}},
      "image": {{}},
      "description": {{}},
      "sku": {{}},
      "mpn": {{}},
        "brand": {
          "@type": "Thing",
          "name": {{}}
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": {{}},
          "reviewCount": {{}}
        },
        "offers": {
          "@type": "Offer", 
          "priceCurrency": "NGN",
          "price": {{}},
          "url": "https://brandsnigeria.com.ng/product/{{}}",
          "priceValidUntil": "2020-11-05",
          "availability": "https://schema.org/InStock",
          "seller": {
            "@type": "Organization",
            "name": {{.manufacturer}}
          }
        },
        "review": [ {{ template richSnippetComments.html . }} ]
      }
</script>