<!--submission-successful.tmpl-->
{{ template "header.tmpl" .}}
<div class="viewarea">
<strong>The article was successfully submitted.</strong>
	{{ if .superadmin }}
		<a href="/blog/s/{{.payload.ID}}/{{.payload.GUID}}">{{.payload.Title}}</a>
	{{ else }}
		<a href="/blogs/{{.payload.ID}}/{{.payload.GUID}}">{{.payload.Title}}</a>
	{{ end }}
</div>
{{ template "footer.tmpl" .}}