<div class='ThumbsUp'>

  <div class='ThumbsUpChildren'>
    <a href='javascript:void(0)' class='btn btn-success btn-sm'>
    		<span class='fa fa-thumbs-up fa-1x'></span>
	</a>
    <div class='textBelowRatings'>{{ .PRODUCTLIKES }}</div>
  </div>

  <div class='ThumbsUpChildren'>
    <a href='javascript:void(0)' class='btn btn-danger btn-sm'>
    		<span class='fa fa-thumbs-down fa-1x'></span>
    </a>
    <div class='textBelowRatings'>{{ .PRODUCTDISLIKES }}</div>
  </div> <!--  End of ThumbsUp Children 2 -->

</div> <!-- End of Thumbs Up -->