<div> <!-- Click to View Product  -->
	  <a href='/s/product/{{ .PRODUCTGUID }}' class='card-link'>
	    <button type='button' class='btn-success btn-block'>View Details</button>
	  </a>
</div><!-- End of the Click to View Product  -->